In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
df = pd.read_csv("final_fisheries_dataset.csv")
df.head()

,country,year,biomass_relative_to,SST,Trawling_Hours
0,Atlantic halibut Gulf of Maine / Georges Bank,1800,1.979.592,27.11,5638.58
1,Atlantic halibut Gulf of Maine / Georges Bank,1801,1.979.592,25.60,4840.09
2,Atlantic halibut Gulf of Maine / Georges Bank,1802,1.979.592,25.20,4709.12
3,Atlantic halibut Gulf of Maine / Georges Bank,1803,1.979.592,26.06,5335.08
4,Atlantic halibut Gulf of Maine / Georges Bank,1804,1.977.551,25.14,4890.73

In [4]:

df["biomass_relative_to"] = (
    df["biomass_relative_to"]
        .astype(str)
        .str.replace(".", "", regex=False)
        .astype(float)
)


df["SST"] = df["SST"].fillna(df["SST"].mean())
df["Trawling_Hours"] = df["Trawling_Hours"].fillna(df["Trawling_Hours"].mean())
df["biomass_relative_to"] = df["biomass_relative_to"].fillna(
    df["biomass_relative_to"].mean()
)

df.isnull().sum()

country                0
year                   0
biomass_relative_to    0
SST                    0
Trawling_Hours         0
dtype: int64

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
le = LabelEncoder()
df["country_encoded"] = le.fit_transform(df["country"])
df.head()

,country,year,biomass_relative_to,SST,Trawling_Hours,country_encoded
0,Atlantic halibut Gulf of Maine / Georges Bank,1800,19795920.0,27.11,5638.58,100
1,Atlantic halibut Gulf of Maine / Georges Bank,1801,19795920.0,25.60,4840.09,100
2,Atlantic halibut Gulf of Maine / Georges Bank,1802,19795920.0,25.20,4709.12,100
3,Atlantic halibut Gulf of Maine / Georges Bank,1803,19795920.0,26.06,5335.08,100
4,Atlantic halibut Gulf of Maine / Georges Bank,1804,19775510.0,25.14,4890.73,100

In [7]:


scaler = StandardScaler()

features = ["year", "SST", "Trawling_Hours"]
df[features] = scaler.fit_transform(df[features])

In [8]:
df.to_csv("preprocessed_fisheries_dataset.csv", index=False)

print("Preprocessed CSV file created successfully!")
df.head()

Preprocessed CSV file created successfully!

,country,year,biomass_relative_to,SST,Trawling_Hours,country_encoded
0,Atlantic halibut Gulf of Maine / Georges Bank,-8.050681,19795920.0,-2.257933,-7.572542,100
1,Atlantic halibut Gulf of Maine / Georges Bank,-8.006792,19795920.0,-3.605678,-7.855703,100
2,Atlantic halibut Gulf of Maine / Georges Bank,-7.962903,19795920.0,-3.962697,-7.902148,100
3,Atlantic halibut Gulf of Maine / Georges Bank,-7.919014,19795920.0,-3.195107,-7.680169,100
4,Atlantic halibut Gulf of Maine / Georges Bank,-7.875124,19775510.0,-4.016249,-7.837745,100