In [9]:
import pandas as pd
import os

In [10]:
df = pd.read_csv("final_fisheries_dataset.csv")

print("Original Shape:", df.shape)
df.head()

Original Shape: (54235, 5)

,country,year,biomass_relative_to,SST,Trawling_Hours
0,Atlantic halibut Gulf of Maine / Georges Bank,1800,1.979.592,27.11,5638.58
1,Atlantic halibut Gulf of Maine / Georges Bank,1801,1.979.592,25.60,4840.09
2,Atlantic halibut Gulf of Maine / Georges Bank,1802,1.979.592,25.20,4709.12
3,Atlantic halibut Gulf of Maine / Georges Bank,1803,1.979.592,26.06,5335.08
4,Atlantic halibut Gulf of Maine / Georges Bank,1804,1.977.551,25.14,4890.73

In [11]:
df = df.drop_duplicates()

print("After Removing Duplicates:", df.shape)

After Removing Duplicates: (54235, 5)

In [14]:
df = df.drop_duplicates()

# Fix biomass column
df["biomass_relative_to"] = (
    df["biomass_relative_to"]
    .astype(str)
    .str.replace(".", "", regex=False)
)

df["biomass_relative_to"] = pd.to_numeric(df["biomass_relative_to"], errors="coerce")

# Fill only numeric columns
df = df.fillna(df.select_dtypes(include="number").mean())

In [16]:
df["year"] = df["year"].astype(int)
df["SST"] = df["SST"].astype(float)
df["Trawling_Hours"] = df["Trawling_Hours"].astype(float)
df["biomass_relative_to"] = df["biomass_relative_to"].astype(float)

df.dtypes

country                 object
year                     int64
biomass_relative_to    float64
SST                    float64
Trawling_Hours         float64
country_encoded          int64
dtype: object

In [18]:
output_path = "preprocessed_fisheries_dataset.csv"
df.to_csv(output_path, index=False)

print("✅ Preprocessed file saved at:")
print(os.path.abspath(output_path))

✅ Preprocessed file saved at:
c:\Users\sreeh\OneDrive\Desktop\TRY\preprocessed_fisheries_dataset.csv