In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
biomass_df = pd.read_csv("biomass.csv")

biomass_df.columns = biomass_df.columns.str.strip()


if "Year" in biomass_df.columns:
    biomass_df = biomass_df.rename(columns={"Year": "year"})

biomass_df.head()

                                         country  year biomass_relative_to
0  Atlantic halibut Gulf of Maine / Georges Bank  1800           1.979.592
1  Atlantic halibut Gulf of Maine / Georges Bank  1801           1.979.592
2  Atlantic halibut Gulf of Maine / Georges Bank  1802           1.979.592
3  Atlantic halibut Gulf of Maine / Georges Bank  1803           1.979.592
4  Atlantic halibut Gulf of Maine / Georges Bank  1804           1.977.551

In [4]:
np.random.seed(42)

base_effort = 5000    # baseline trawling hours
growth_rate = 120     # yearly increase
noise_std = 300       # random variation

min_year = biomass_df["year"].min()

In [5]:
country_variation = {
    country: np.random.uniform(-1000, 1000)
    for country in biomass_df["country"].unique()
}

In [6]:
trawling_hours = []

for _, row in biomass_df.iterrows():
    year_effect = (row["year"] - min_year) * growth_rate
    country_effect = country_variation[row["country"]]
    noise = np.random.normal(0, noise_std)

    effort = base_effort + year_effect + country_effect + noise
    trawling_hours.append(round(max(effort, 1000), 2))

In [7]:
biomass_df["Trawling_Hours"] = trawling_hours

trawl_df = biomass_df[["country", "year", "Trawling_Hours"]]
trawl_df.head()

                                         country  year  Trawling_Hours
0  Atlantic halibut Gulf of Maine / Georges Bank  1800         5638.58
1  Atlantic halibut Gulf of Maine / Georges Bank  1801         4840.09
2  Atlantic halibut Gulf of Maine / Georges Bank  1802         4709.12
3  Atlantic halibut Gulf of Maine / Georges Bank  1803         5335.08
4  Atlantic halibut Gulf of Maine / Georges Bank  1804         4890.73

In [8]:
trawl_df.to_csv("Trawling.csv", index=False)

print("Trawling Hours CSV generated successfully!")
print("Total records:", len(trawl_df))

Trawling Hours CSV generated successfully!
Total records: 54235